<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.1/css/bulma.min.css">
        <title>Web Accessibility Checker</title>
    </head>

    <body>
        <section class="section">
            <div class="container has-text-centered">
                <h1 class="title">
                    Web Accessibility Checker
                </h1>
            </div>
        </section>
        <section class="section">
            <div class="form-group">
                <div class="field">
                    <label for="url" class="label">Enter URL:</label>
                    <div  id = "url "class="control">
                        <input type="text" class="input is-link is-rounded">
                    </div>
                </div>
            </div>
        </section>
    </body>

</html>