<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.1/css/bulma.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
            integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />
        <title>Web Accessibility Checker</title>
        <style>
            .form-container {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                /* Adjust as needed */
            }
        </style>
    </head>

    <body>
        <section class="section">
            <div class="container has-text-centered">
                <h1 class="title">
                    Web Accessibility Checker
                </h1>
            </div>
        </section>
        <section class="section">
            <div class="container is-fluid">
                <form action="" class="form-group">
                    <div class="field">
                        <label for="user-input-url" class="label">Enter URL: </label>
                        <p class="control has-icons-left has-icons-right">
                            <input id="user-input-url" class="input is-primary error-input" type="text"
                                placeholder="https://example.com" />
                            <span class="icon is-small is-left">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </span>
                            <span id="error-message" class="help is-danger" style="display:none;">Invalid URL
                                format</span>
                        </p>
                    </div>
                    <div class="field is-horizontal">
                        <label for="view" class="radio">Which View:</label>
                        <div class="control ml-2">
                            <input id="mobile-view" name="view" type="radio" aria-label="Mobile view" />
                            <span class="icon is-small is-left">
                                <i class="fas fa-mobile-alt"></i>
                            </span>
                            <label for="mobile-view" class="radio">Mobile View</label>
                        </div>
                        <div class="control ml-4">
                            <input id="desktop-view" name="view" type="radio" aria-label="Desktop view" />
                            <span class="icon is-small is-left">
                                <i class="fas fa-desktop-alt"></i>
                            </span>
                            <label for="desktop-view" class="radio">Desktop View</label>
                        </div>
                    </div>
            </div>

            <div class="form-container">
                <submit class="button is-primary is-dark is-responsive"><span class="icon is-small"><i
                            class="fa-solid fa-check"></i></span><span>Check</span></submit>
            </div>


            </form>
            </div>
        </section>
        <script>
            function validateInput() {
                var input = document.getElementById('user-input-url');
                var errorMessage = document.getElementById('error-message');

                var urlPattern = new RegExp('^(https?:\\/\\/)?'+ // protocol
                    '((([a-z\\d]([a-z\\d-]*[a-z\\d])*)\\.)+[a-z]{2,}|'+ // domain name
                    '((\\d{1,3}\\.){3}\\d{1,3}))'+ // OR ip (v4) address
                    '(\\:\\d+)?(\\/[-a-z\\d%_.~+]*)*'+ // port and path
                    '(\\?[;&a-z\\d%_.~+=-]*)?'+ // query string
                    '(\\#[-a-z\\d_]*)?$','i'); // fragment locator

                if (!urlPattern.test(input.value)) {
                    // If empty, show the error message and apply the error class to the input
                    input.classList.add('is-danger'); // Apply danger class to input
                    errorMessage.style.display = 'inline'; // Show error message
                }
            }

            // Attach the event listener to the input field
            document.getElementById('user-input-url').addEventListener('input', validateInput);
        </script>
    </body>

</html>
